html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
.image{
    max-width:100%;
    height:auto
}
img{
    vertical-align:middle
}

.table,
.table-all{
    border-collapse:collapse;
    border-spacing:0;width:100%;
    display:table
}
.table-all{
    border:1px solid #ccc
}
.bordered tr,
.table-all tr{
    border-bottom:1px solid #ddd
}
.striped tbody tr:nth-child(even){
    background-color:#f1f1f1
}

.table-all tr:nth-child(odd){
    background-color:#fff
}
.table-all tr:nth-child(even){
    background-color:#f1f1f1
}
.hoverable tbody tr:hover,
.ul.hoverable li:hover{
    background-color:#ccc
}
.centered tr th,
.centered tr td{
    text-align:center
}
.btn,.button{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}

/*Text on teh image*/
.tooltip,
.display-container{
    position:relative
}
    
.tooltip .text{
    display:none
}

.tooltip:hover .text{
    display:inline-block
}

.ripple:active{
    opacity:0.5
}
/*input for the question form*/
.input{
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    width:100%
}

.select{
    padding:9px 0;
    width:100%;
    border:none;
    border-bottom:1px solid #ccc
}

.dropdown-click,
.dropdown-hover{
    position:relative;
    display:inline-block;
    cursor:pointer
}
.dropdown-hover:hover .dropdown-content{
    display:block
}
.dropdown-hover:first-child,
.dropdown-click:hover{
    background-color:#ccc;
    color:#000
}
.dropdown-hover:hover > .button:first-child,.dropdown-click:hover > .button:first-child{
    background-color:#ccc;
    color:#000
}
.dropdown-content{
    cursor:auto;color:#000;
    background-color:#fff;
    display:none;
    position:absolute;
    min-width:160px;
    margin:0;
    padding:0;
    z-index:1
}
.check,.radio{
    width:24px;
    height:24px;
    position:relative;
    top:6px
}
.sidebar{
    height:100%;
    width:200px;
    background-color:#fff;
    position:fixed ;
    z-index:1;
    overflow:auto
}
.bar-block .dropdown-hover,.bar-block .dropdown-click{
    width:100%
}
.bar-block .dropdown-hover .dropdown-content,.bar-block .dropdown-click .dropdown-content{
    min-width:100%
}

.bar-block .dropdown-hover .button,.bar-block .dropdown-click .button{
    width:100%;
    text-align:left;
    padding:8px 16px
}

.main,#main{
    transition:margin-left .4s
}

.modal{
    z-index:3;
    display:none;
    padding-top:100px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4)
}

.modal-content{
    margin:auto;
    background-color:#fff;position:relative;
    padding:0;
    outline:0;
    width:600px
}

.bar{
    width:100%;
    overflow:hidden
}

.center .bar{
    display:inline-block;
    width:auto
}

.bar .dropdown-hover,.bar .dropdown-click{
    position:static;
    float:left
}

.bar .button{
    white-space:normal
}

.bar-block .bar-item{width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0
}

.bar-block.center .bar-item{
    text-align:center
}
.block{
    display:block;
    width:100%
}


/* container for the images */
.container:after,.container:before,.panel:after,.panel:before,.row:after,.row:before,.row-padding:after,.row-padding:before,
.cell-row:before,.cell-row:after,.clear:after,.clear:before,.bar:before,.bar:after{
    content:"";
    display:table;
    clear:both
}

.col,.half,.third,.twothird,.threequarter,.quarter{
    float:left;
    width:100%
}

/*sizing of teh images displayed in the table */
@media (min-width:993px){
    .col.l1{
        width:8.33333%
    }
    .col.l2{
        width:16.66666%
    }
    .col.l3{
        width:24.99999%
    }
    .col.l4{
        width:33.33333%
    }
    .col.l5{
        width:41.66666%
    }
    .col.l6{
        width:49.99999%
    }
    .col.l7{
        width:58.33333%
    }
    
    .rest{overflow:hidden}
    .stretch{
        margin-left:-16px;
        margin-right:-16px
    }
    .content,.auto{margin-left: 10% ;margin-right:0%}
    .cell-row{display:table;width:100%}.cell{display:table-cell}
    .cell-top{vertical-align:top}.cell-middle{vertical-align:middle}.cell-bottom{vertical-align:bottom}
    .hide{display:none }.show-block,.show{display:block }.show-inline-block{display:inline-block }

@media (max-width:1205px){.auto{max-width:95%}}
@media (max-width:600px){.modal-content{margin:0 10px;width:auto }.modal{padding-top:30px}

.dropdown-hover.mobile .dropdown-content,.dropdown-click.mobile .dropdown-content{
    position:relative
}	

.hide-small{
    display:none 
}

.dropdown-hover.mobile,
.dropdown-hover.mobile .btn,
.dropdown-hover.mobile .button,
.dropdown-click.mobile,
.dropdown-click.mobile .btn,
.dropdown-click.mobile .button{
    width:100%}
}


.top,.bottom{
    position:fixed;
    width:100%;
    z-index:1
}
.top{
    top:0
}
.bottom{
    bottom:0
}

.overlay{
    position:fixed;
    display:none;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.5);
    z-index:2
}
.display-topleft{
    position:absolute;
    left:0;top:0
}
.display-topright{
    position:absolute;
    right:0;top:0
}
.display-bottomleft{
    position:absolute;
    left:0;
    bottom:0
}
.display-bottomright{
    position:absolute;
    right:0;bottom:0
}

.display-middle{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%)
}

.display-left{
    position:absolute;
    top:50%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%)
}

.display-right{
    position:absolute;
    top:50%;right:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%)
}

.display-topmiddle{
    position:absolute;
    left:50%;
    top:0;
    transform:translate(-50%,0%);
    -ms-transform:translate(-50%,0%)
}

.display-bottommiddle{
    position:absolute;
    left:50%;
    bottom:0;
    transform:translate(-50%,0%);
    -ms-transform:translate(-50%,0%)
}
.display-container:hover .display-hover{
    display:block
}
.display-container:hover span.display-hover{
    display:inline-block
}
.display-hover{
    display:none
}
.display-position{
    position:absolute
}
/* padding for the images and objects within the home page */
.row-padding,.row-padding>.half,.row-padding>.third,.row-padding>.twothird,.row-padding>.threequarter,.row-padding>.quarter,.row-padding>.col{padding:0 8px}
.container,.panel{padding:0.01em 16px}.panel{margin-top:16px;margin-bottom:16px}
.code,.codespan{
    font-family:Consolas,"courier new";
    font-size:16px
}

/* Texxt sizing */

.small{
    font-size:12px 
}

.large{
    font-size:18px 
}


.left-align{text-align:left }.right-align{text-align:right }.justify{text-align:justify }.center{text-align:center }
.margin{margin:16px }.margin-top{margin-top:16px }.margin-bottom{margin-bottom:16px }
.margin-left{margin-left:16px }.margin-right{margin-right:16px }

/* Padding for the Nav bar */
.padding-16{padding-top:16px ;padding-bottom:16px }.padding-24{padding-top:24px ;padding-bottom:24px }
.padding-64{padding-top:64px ;padding-bottom:64px }

/* Button colours*/
.button:hover{color:#000 ;
    background-color:#ccc 
}
.transparent,.hover-none:hover{background-color:transparent }
.hover-none:hover{box-shadow:none }

/* Colors */
.white,.hover-white:hover{color:#000 ;background-color:#fff }
.text-white,.hover-text-white:hover{color:#fff }

.card {
    /* Adds some shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, adds a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
 