/*heading and body settings*/
html{
  box-sizing:border-box; /*ensures that divs are the same size*/
  overflow-x:hidden /*clips content if necessary to fit the horizontal padding*/
}
*,*:before,*:after{
  box-sizing:inherit /* for all elemets when teh behaviour is changed for one element
  it the others will also change */
}
body{
  font-family:Verdana,sans-serif; /* font for the body element */
  font-size:15px;  /* specify the size of teh font within the element */
  line-height:1.5 /* sets reasonable distance between the lines of text */
}

h1{
  font-size:36px; /*font sizing*/
  text-shadow: 2px 2px 9px black; /* adds a shadow behind text to stand out more */
}
h2{
  font-size:30px /*font sizing*/
}
h3{
  font-size:24px /*font sizing*/
}

h1,h2,h3{
  font-family:"Segoe UI",Arial,sans-serif ;  /*font used for this heading*/
  font-weight:400; /* the boldness of the font */
  margin:10px 0 /*spacing aroung the heading */
}

/* side bar and main section */
/* border for the table row where the nav will sit */
.bordered tr{
  border-bottom:1px solid #ddd /* defines teh width and colour of teh bottom of each table row */
}

/*table row, table header and table row table data */
.centered tr th,.centered tr td{
  text-align:center /* aligns the text entered into the table header and data as well as the table row itself to teh center */
}

/*Used in the nav bar and in the image grid*/
.btn,.button{
  border:none;
  display:inline-block; /* sets width and height on the element with respect to the top and bottom margins/ padding */
  padding:8px 16px; /* padding for the buttons used in the nav bar */
  vertical-align:middle; /* aligns the element with the base line and in the middel */ 
  overflow:hidden; /*prevents scroll bars from appearing */
  text-decoration:none; /*sets text formatting to null */
  color:inherit; /*takes on the colour of webpage as default */
  background-color:inherit; /*takes on the colour of the webpage by default*/
  text-align:center; /*aligns button text to the center*/
  cursor:pointer; /*changes teh users cursour to the pointed to indicate it as a link */
  white-space:nowrap /*wraps text into a new line when needed */
}

/*used for teh nav bar*/
/*used for the image header*/
/*used for the product grid*/
.display-container{
  position:relative /*positions object relative to usual position */
}

/*used for the contact form in the footer*/
.input{
  padding:8px; /*padding for the input */
  display:block; /*displays teh element as a block */
  border:none;
  border-bottom:1px solid #ccc; /*changes the colour of teh border*/
  width:100%
}

/*used when an item is selected or hovered over*/
.select{
  padding:9px 0;
  width:100%;
  border:none;
  border-bottom:1px solid #ccc /*changes the colour of teh border */
}

/*used in the nav bar */
.sidebar{
  height:100%; /*makes side bar div same hieght as the parent */
  width:200px; /*ensures width is 200 pixels*/
  background-color:#fff; /*colour used for the nav bar */
  position:fixed; /*creates a sticky nav bar (same place even when scrolled)*/
  z-index:1; /*sets stacking order of elements */
  overflow:auto /*only adds a scroll bar when necessary */
}

/*used for the main content of the page*/
.main,#main{
  transition:margin-left .4s /*change property values smoolthy over 4seconds*/
}
.modal{
  z-index:3;
  display:none;
  padding-top:100px;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.4)
}
.modal-content{
  margin:auto;
  background-color:#fff;
  position:relative;
  padding:0;
  outline:0;
  width:600px
}
/*used in teh nav bar drop down*/
.bar{
  width:100%;
  overflow:hidden
}
/*used in teh nav bar drop down*/
.center .bar{
  display:inline-block;
  width:auto
}
/*used in teh nav bar drop down*/
.bar .bar-item{
  padding:8px 16px;
  float:left; /*floats the bar-item to the left hand side*/
  width:auto; /*ensures that the margins, padding nad borders do not become bigger then parent element*/
  border:none;
  display:block; /*allows for white space and toleration of no html elements*/
  outline:0 /*no outline*/
}

/*used for the dropdown section of the nav and the nav*/
.bar .dropdown-hover,.bar{
  position:static; /*sticks wihtin the flow of teh page*/
  float:left /*floats this to the left*/
}

/*Used in the nav bar and in the image grid*/
.bar .button{
  white-space:normal /*specifies how white-space is handled throguhout the element*/
}

/*bar block used in nav bar for the background, bar-item used for the tabs on teh nav bar*/
.bar-block .bar-item{
  width:100%; /*takes up the explicit width of the parent element*/
  display:block; /*tolerate whitespaces */
  padding:8px 16px; /*proportions of the box defined*/
  text-align:left; /*shifts all text to the left within this element*/
  border:none;
  white-space:normal; /*inherits white-space*/
  float:none; /*no float meaning it will be displayed how it is in the text*/
  outline:0
}

/*bar block used in nav bar for the background, bar-item used for the tabs on teh nav bar*/
.bar-block.center .bar-item{
  text-align:center /*aligns inner conent of the block element to the center*/
}

/*used for the drop down section of teh nav bar*/
.block{
  display:block; /*displays in a block*/
  width:100% /*allows the width to replicate the sized of teh parent*/
}

/*container elements used for the nav bar container*/
/*used for the header in the page content, as well as the inmage header/slideshows*/
/*row section used for the product grid*/
/*used in teh footer for the meet the team section*/
/*inserts a container after selected element*//*inserts a container before selected element*/
/*inserts row before and after as well as padding before and after*/
/*setting teh specified content for each element stated *//*causes elements to behave like a <table> element*/
/*no floating elements allowed on the right or left side*/
.container:after,.container:before, .row:after,.row:before,.row-padding:after,.row-padding:before,
.cell-row:before,.cell-row:after{content:"";display:table;clear:both}

/*coloumn properties*/


.col{
  float:left;width:100%/*floats columns to the left*//*all columns to be same size as the parent element*/
}

/*lines 190 to 203 define 'n' ammount of columns of the 12 for small screens*/
.col.s4{
  width:33.33333%
}

/*used for the footer in the meet the team section*/
.col.s5{
  width:41.66666%
}
/*usesd in the product grid section*/
.col.s6{
  width:49.99999%
}
.col.s7{
  width:58.33333%
}

/*minimun width of display area for media*/
/*defines n of the 12 columns for medium screens*/
@media (min-width:601px){.col.m1{width:8.33333%}.col.m2{width:16.66666%}.col.m3,.col.m4{width:33.33333%}

/*minimum width of the display area*/
/*defines n of the 12 columns for large screens*/
@media (min-width:993px){.col.l1{width:8.33333%}.col.l2{width:16.66666%}.col.l3{width:24.99999%}.col.l4{width:33.33333%}


.content,.auto{
  margin-left:auto; /*gives a share of teh remaining space to the left*/
  margin-right:auto /*gives a share of teh remaining space to the right*/
}

.cell-row{
  display:table; /*displays the element in a table format*/
  width:100% /*width makes up width of the parent*/
}

.cell-top{
  vertical-align:top; /*causes the elements to align to the top*/
  vertical-align:middle; /*aligns them to the middle*/
  vertical-align:bottom /*from bottom*/
}
.hide{
  display:none /*hides the display*/
}
.show-block,.show{
  display:block /*displays the show-block in a block format*/
}
.show-inline-block{
  display:inline-block /*allows for top and bottom margins/paddings are respected*/
}

/*sets teh width to 600px of the media*/
/*a margin is set for the modal-contenet within the media*//*width is set to auto*/
/*the padding on the top*/
@media (max-width:600px){.modal-content{margin:0 10px;width:auto}.modal{padding-top:30px}

/*used on the text in the image header*/
.hide-small{ 
  display:none; /*removes the display*/
  display:block; /*displays the show inlign blcok format*/
  width:100%
}

/*Used in the nav bar and in the image grid*/
.bar-item {text-align:center} /*Aligns the text of the bar items to the center*/
.button{width:100%}}/*makes the width of the button correspond with that of the parent*/
@media (max-width:768px){
  .modal-content{
    width:500px
  }
  .modal{
    padding-top:50px
  }
}
@media (min-width:993px){
  .modal-content{
    width:900px
  }
  .hide-large{
    display:none
  }
  .sidebar.collapse{
    display:block
  }
}
@media (max-width:992px) and (min-width:601px){
  .hide-medium{
    display:none
  }
}
@media (max-width:992px){
  .sidebar.collapse{
    display:none
  }
  .main{
    margin-left:0;
    margin-right:0;
    max-width:100%
  }
}

/*.top = used at the beginning of the nav bar*/
.top,.bottom{
  position:fixed; /*keeps the object in the same place even when the page is scrolled*/
  width:100%; /*width equal to the parent*/
  z-index:1
}
/*used at the beginning of the nav bar*/
.top{
  top:0 /*element is in position absolute*/
}
.bottom{
  bottom:0 /*element is in porition absolute*/
}
.overlay{
  position:fixed;
  display:none;
  width:100%;
  height:100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0,0,0,0.5);
  z-index:2
}

/*used for the text on the image header*/
.display-topleft
{position:absolute; /*positions with reference to the closest parent*/
  left:0;
  top:0
}
.display-topright{
  position:absolute;
  right:0;
  top:0
}
.display-bottomleft{
  position:absolute; /*positions with reference to the closest parent*/
  left:0;
  bottom:0
}
.display-bottomright{
  position:absolute; /*positions with reference to the closest parent*/
  right:0;
  bottom:0
}
.display-middle{
  position:absolute; /*positions with reference to the closest parent*/
  top:50%; /*pushes down the div 50% form the top*/
  left:50%; /*pushes the div 50% from the left*/
  transform:translate(-50%,-50%); /*positions the element along the horizontal and verical axis centering it*/
  -ms-transform:translate(-50%,-50%) /*positions the element along the horizontal and verical axis centering it*/
}
.display-left{
  position:absolute;
  top:50%; /*moves it 50% from the top*/
  left:0%; /*sticks it to the left*/
  transform:translate(0%,-50%); /*moves -50% along the y-axis and 0% along teh x-axis*/
  -ms-transform:translate(-0%,-50%) /*moves -50% along the y-axis and 0% along teh x-axis*/
}
.display-right{
  position:absolute;
  top:50%;
  right:0%;
  transform:translate(0%,-50%); /*moves -50% along the y-axis and 0% along teh x-axis*/
  -ms-transform:translate(0%,-50%) /*moves -50% along the y-axis and 0% along teh x-axis*/
}
.display-topmiddle{
  position:absolute;
  left:50%;
  top:0;
  transform:translate(-50%,0%); /*moves -50% along the x axis and 0% along teh y-axis*/
  -ms-transform:translate(-50%,0%) /*moves -50% along the x axis and 0% along teh y-axis*/
}

/*used for the nav bar*/
.display-container:hover .display-hover{
  display:block /*allows for whitespaces on either side*/
}
/*used for the nav bar*/
.display-container:hover span.display-hover{
  display:inline-block /*allows a set width and height on element, respecting padding and margins*/
}

/*used for the button in the product grid to make it appear when it is hovered over*/
.display-hover{
  display:none /*element is not displayed */
}
.display-position{
  position:absolute /*position with reference to teh closest parent*/
}

/*used for teh product grid*/
/*adds spacing between teh content and the border*/
.row-padding,.row-padding>.half,.row-padding>.third,.row-padding>.twothird,.row-padding>.threequarter,.row-padding>.quarter,.row-padding>.col{padding:0 8px}

/*used in the main section, nav and footer*/
/*0.01em is relative to the current font size pf the element*/ /*adds padding to the elements content and borders*/
/*sets top margin of the element*/
/*set the bottom margin of the element*/
.container,.panel{padding:0.01em 16px}.panel{margin-top:16px;margin-bottom:16px}

/*used as a filter on teh product grid*/
/*adds a grey scale graphic effect to the div*/
.greyscale-max,.grayscale-max,.hover-greyscale:hover,.hover-grayscale:hover{filter:grayscale(100%)}
.greyscale,.grayscale{filter:grayscale(75%)}.greyscale-min,.grayscale-min{filter:grayscale(50%)}

/*font used throughout the main section, nav and footer*/
.tiny{font-size:10px}.small{font-size:12px}.medium{font-size:15px}.large{font-size:18px }/*used for  the font on the nav bar*/
.xlarge{font-size:24px }/*used for the font at the top of the page in the top header section of the page content*/
.xxlarge{font-size:36px }.jumbo{font-size:64px }/*font sizing for the first header*/

/*used for the drop down section fo teh nav bar*/
.left-align{text-align:left }.right-align{text-align:right }.justify{text-align:justify }.center{text-align:center }/*used int eh footer*/

/*used in teh contact for within the footer*/
.border-0{border:0 }.border{border:1px solid #ccc }
.border-top{border-top:1px solid #ccc }.border-bottom{border-bottom:1px solid #ccc }
.border-left{border-left:1px solid #ccc }.border-right{border-right:1px solid #ccc }

.topbar{border-top:6px solid #ccc;border-bottom:6px solid #ccc }
.leftbar{border-left:6px solid #ccc }.rightbar{border-right:6px solid #ccc }

.margin{margin:16px }.margin-top{margin-top:16px }.margin-bottom{margin-bottom:16px }
.margin-right{margin-right:16px }

/*used for the tabs in teh nav bar*/
.padding-small{padding:4px 8px }.padding{padding:8px 16px }.padding-large{padding:12px 24px }
.padding-16{padding-top:16px ;padding-bottom:16px }.padding-24{padding-top:24px ;padding-bottom:24px }
.padding-64{padding-top:64px ;padding-bottom:64px }/*padding used in the Nav Bar*/
/*used in the footer*/
.padding-top-64{padding-top:64px }.padding-top-48{padding-top:48px }
.padding-top-32{padding-top:32px }.padding-top-24{padding-top:24px }

.left{float:left }.right{float:right }

/*Used in the nav bar and in the image grid*/
.button:hover{color:#000 ;background-color:#ccc }
.transparent,.hover-none:hover{background-color:transparent }


/* Colors used for the buttons and the hovering effects */
/*used for the nav bar*/
.white,.hover-white:hover{
  color:#000 ;
  background-color:#fff 
}
/*used for the button on the home page header image slide show*/
/*used for the button in the product grid*/
/*used for the submit button on the contact form in teh footer section*/
/*used in the bottom footer containing the creators names*/
.black,.hover-black:hover{
  color:#fff ;
  background-color:#000 
}
/*used in teh footer to colour the background*/
.light-grey,.hover-light-grey:hover{color:#000 ;background-color:#f1f1f1 }
.text-white,.hover-text-white:hover{color:#fff }
.text-black,.hover-text-black:hover{color:#000 }
.text-gray,.hover-text-gray:hover{color:#757575 }
.text-light-grey,.hover-text-light-grey:hover,.text-light-gray,.hover-text-light-gray:hover{color:#f1f1f1 }
.border-white,.hover-border-white:hover{border-color:#fff }
.border-black,.hover-border-black:hover{border-color:#000 }
.border-light-gray,.hover-border-light-gray:hover{border-color:#f1f1f1 }

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.text {font-size: 11px}
}


.text-cont{
  position: relative;

}

.text-block{
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

